.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.bar{
  background-color:red;
  margin: 0 auto;
  height:30px;
  width: calc(100% - 300px);
}

.bar__header {
  position: sticky;
  top:0px;

}

.bar__footer {
  position:fixed;
  left: 150px;
  bottom:0px
}

.content {
  height:80px
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
